services:
  db:
    image: postgres:16
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '5433:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'pg_isready -U $${POSTGRES_USER:-postgres} -d $${POSTGRES_DB:-postgres}',
        ]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  pgdata:
