services:
  db:
    image: postgres:16
    restart: unless-stopped
    ports:
      - '${POSTGRES_PORT}:5432'
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'pg_isready -U $${POSTGRES_USER:-postgres} -d $${POSTGRES_DB:-postgres}',
        ]
      interval: 10s
      timeout: 5s
      retries: 10
